<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{Your_name}} website!
  </h1>
</div>
<div style="text-align: center">
    <h2>{{quest3}}</h2>



<button (click)="toggle()" id="film">
  {{btFilm}}
</button>
</div>
<div style="text-align: center" *ngIf="displayMovieList">
<ul>
  <li appHightLightDirective>The Godfather</li>
  <li>The Shawshank</li>
  <li>Gone With the Wind</li>
  <li>Casablance</li>
  <li>Schindler's List</li>
  <li>StarWars</li>
</ul>
</div>

<div style="text-align: center">
  <h2>{{quest4}}</h2>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>
